.share-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px; /* Centers the content on the cross-axis (vertical) */
}

.share-component__share-title {
  margin-top: 0;
  margin-bottom: 16px;
}
.share-component__map-title {
  margin: 0;
}

.share-component__share-title,
.share-component__map-title {
  font-size: 14px; /* Example font size, adjust as needed */
  color: #000; /* Text color */
  color: #f40f56;
  font-weight: 900;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
}
