@font-face {
  font-family: 'DIN';
  src: url('./font/DINPro-Light.woff2') format('woff2');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('./font/DINPro-CondensedRegular.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('./font/DINPro-Medium.woff2') format('woff2');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('./font/DINPro-Bold.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('./font/DINPro-Black.woff2') format('woff2');
  font-weight: 900; /* Black */
  font-style: normal;
}

body {
  margin: 0;
  font-family:"DIN";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
